@using VSoft.Company.UI.CTM.Customer.View.Main.Page;
@using VSoft.Company.UI.DEA.Deal.View.Main.Page;
@using VSoft.Company.UI.PRC.ProductCategory.View.Main.Page;
@using VSoft.Company.UI.PRF.ProductFeature.View.Main.Page;
@using VSoft.Company.UI.PRO.Product.View.Main.Page;
@using VSoft.Company.UI.TEA.Team.View.Main.Page;
@using VSoft.Company.UI.ACT.Activity.View.Main.Page;
@using VSoft.Company.UI.UCU.UserCustomer.View.Main.Page;
@using VSoft.Company.UI.USR.User.View.Main.Page;
<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] 
{
typeof(TeamMainPage).Assembly,
typeof(ActivityMainPage).Assembly,
typeof(DealMainPage).Assembly,
typeof(UserMainPage).Assembly,
typeof(CustomerMainPage).Assembly,
typeof(ProductMainPage).Assembly,
typeof(ProductFeatureMainPage).Assembly,
typeof(ProductCategoryMainPage).Assembly,
typeof(UserCustomerMainPage).Assembly,
}">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
