@using VegunSoft.Framework.Display.ExtensionMethods.String;
@using VegunSoft.Framework.Ui.Component.Popups;
@using VegunSoft.Framework.Ui.Component.Searchs;
@using VegunSoft.Framework.Ui.Component.Pagination;
@using VegunSoft.Framework.Ui.Component.Indicatiors;

<h3>Table UserCustomer</h3>
@if (UserCustomers == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row">
        <KeywordSearch OnSearch="OnSearch"></KeywordSearch>
    </div>

    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Mã</th>
                    @*<th>Tên</th>*@
                   @* <th>Mô tả</th>*@
                    <th>Khách hàng</th>
                    <th>Nhân viên</th>
                    <th>Nhóm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (UserCustomers == null || UserCustomers.Count == 0)
                {
                    <tr class="text-center">Chưa có dữ liệu</tr>
                }
                else
                {
                    foreach (var item in UserCustomers)
                    {
                        <tr>
                            <td>@item.Id</td>
                           
                            <td>@item.UserFullName</td>
                            <td>@item.CustomerFullName</td>
                            <td>@item.TeamName</td>
                            <td>
                                <a href="@GetUpdatePath(item.Id.ToString())" class="btn btn-warning" disabled>Edit</a>
                                <button class="btn btn-danger" @onclick="()=> OnDeleteTask(item.Id)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <Pagination MetaData="MetaData" Spread="2" SelectedPage="OnPageSelect"></Pagination>
            </tfoot>
        </table>
    </div>

    <Confirmation ConfirmationMessage="Xác nhận xóa?" ConfirmationTitle="Xóa UserCustomer" @ref="DeleteConfirmation"
        ConfirmationChanged="OnConfirmDeleteTask">
    </Confirmation>
}