
<div class="row">
    @if (DealStepDict != null)
    {
        <div class="col-1"></div>
        @foreach (var step in DealStepDict)
        {
            <div class="col-2 form-group">
                <h4 class="text-center">@step.Value</h4>
            </div>
        }
        <div class="col-1"></div>
        <div class="col-1"></div>
        @foreach (var step in DealStepDict)
        {

            if (step.Key == 1)
            {
                <div class="col-2 form-group border-end">
                    @if (ListDealTag != null)
                    {
                        foreach (var dealTag in ListDealTag)
                        {
                            if (dealTag.DealStepId == step.Key)
                            {
                                <div class="p-2 pt-2">
                                        <DealTagView OnStepChange="@OnStepChange" DealTag="dealTag" IsPreviouseDisable="@true" IsNextDisable="@false" DetailPath="@DetailPath"/>
                                </div>
                            }
                        }
                    }
                </div>
            }
            else if (step.Key == 5)
            {
                <div class="col-2 form-group border-start">
                    @if (ListDealTag != null)
                    {
                        foreach (var dealTag in ListDealTag)
                        {
                            if (dealTag.DealStepId == step.Key)
                            {
                                <div class="p-2 pt-2">
                                    <DealTagView OnStepChange="@OnStepChange" DealTag="dealTag" IsPreviouseDisable="@false" IsNextDisable="@true" DetailPath="@DetailPath" />
                                </div>
                            }
                        }
                    }
                </div>
            }
            else
            {
                <div class="col-2 form-group border-start border-end">
                    @if (ListDealTag != null)
                    {
                        foreach (var dealTag in ListDealTag)
                        {
                            if (dealTag.DealStepId == step.Key)
                            {
                                <div class="p-2 pt-2">
                                    <DealTagView OnStepChange="@OnStepChange" DealTag="dealTag" IsPreviouseDisable="@false" IsNextDisable="@false" DetailPath="@DetailPath" />
                                </div>
                            }
                        }
                    }
                </div>
            }
        }
    }
</div>
