<div class="row rounded border p-2" style="@Color">
    <h6 class="text-center"><b>@DealTag.DealName</b></h6>
    <div class="col-12 row">
        <div class="col-2"><i class="fa fa-address-book-o" aria-hidden="true"></i></div>
        <div class="col-9 pe-0">@DealTag.CustomerName</div>
    </div>
    <div class="col-12 row">
        <div class="col-2"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
        <div class="col-9 pe-0">@DealTag.CustomerPhone</div>
    </div>
    <div class="col-12 row">
        <div class="col-2"><i class="fa fa-money" aria-hidden="true"></i></div>
        <div class="col-9 pe-0">@DealTag.PridictPrice</div>
    </div>
    <div class="col-12 row my-2">
        <div class="col-7">
            <button class="btn btn-primary px-2">Nhiệm vụ</button>
        </div>
        <div class="col-5 ps-2 pe-0">
            <a class="btn btn-primary px-2" href="@GetDetailPath(DealTag.Id)">
                Chi tiết
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <button class="btn btn-secondary" type="button" onclick="@OnPrevious" disabled="@IsPreviouseDisable">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-2 pe-0">
            <button class="btn btn-secondary" type="button" onclick="@OnNext" disabled="@IsNextDisable">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>