<div class="row rounded border p-2" style="@Color">
    <h6 class="text-center">@DealTag.DealName</h6>
    <div class="col-12 row">
        <div class="col-2"><i class="fa fa-address-book-o" aria-hidden="true"></i></div>
        <div class="col-9">@DealTag.CustomerName</div>
    </div>
    <div class="col-12 row">
        <div class="col-2"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
        <div class="col-9">@DealTag.CustomerPhone</div>
    </div>
    <div class="col-12 row">
        <div class="col-2"><i class="fa fa-money" aria-hidden="true"></i></div>
        <div class="col-9">@DealTag.PridictPrice</div>
    </div>
    <div class="col-12 row mt-1">
        <div class="col-9">
            <button class="btn btn-primary px-2" style="font-size: 0.8 rem">Nhiệm vụ</button>
        </div>
        <div class="col-3"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></div>
    </div>

    <div class="row">
        <div class="col-6">
            <button class="btn btn-secondary" type="button" onclick="@OnPrevious" disabled="@IsPreviouseDisable">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-secondary" type="button" onclick="@OnNext" disabled="@IsNextDisable">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>